img {
  height: 50px;
}

table {
  margin: 0 auto;
  text-align: center;
  border-spacing: 0;

}

tr td {
  border-bottom: 1px solid green;
}

td {
  padding: 10px;
  font-weight: lighter;
  font-size: 18px;
}

div#orderTable > table td, div#orderTable > table th {
  font-size: 1.1em;
  font-weight: lighter;
  padding: 10px;
}

th {
  background-color: rgba(1, 1, 1, 0.8);
  color: white;
  font-size: 18px;
  font-weight: normal;
  padding: 15px 30px;
}

tr:nth-child(2n+2) td, tr:nth-child(2n+2) td a {
  color: black;
}

tr td, tr td a {
  color: white;
}


tr {
  background-color: rgba(1, 1, 1, 0.5);
}

tr:nth-child(2n+2){
  background-color: rgba(255, 255, 255, 0.7);
}

td:hover img {
  -webkit-transform:scale(1.25); /* Safari and Chrome */
  -moz-transform:scale(1.25); /* Firefox */
  -ms-transform:scale(1.25); /* IE 9 */
  -o-transform:scale(1.25); /* Opera */
  transform:scale(1.25);
}

td img {
  height: 50px;
}

